[user]
	name = Samuel Mullen
	email = samullen@gmail.com
[core]
	editor = vim
	excludesfile = /Users/samullen/.gitignore
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[merge]
	tool = vimdiff
[push]
	default = current
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
# 	lol = log --graph --decorate --pretty=format:'%h %ci (%an) %s%d' 
  lol = log --graph --date=local --pretty=format:'%C(yellow)%h%Creset %cd %C(yellow)(%Creset%C(green)%an%Creset%C(yellow))%Creset %s%C(cyan)%d%Creset'
  type = cat-file -t
  dump = cat-file -p
  what = whatchanged --oneline
	d = difftool
  s = status -sb
	ctags = !~/.git_template/hooks/ctags
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templatedir = ~/.git_template
