log
*.log
log/*.log
db/*.sqlite3
# db/schema.rb
# db/schema.sql
.vim/.netrwhist
.vim/bundle
tags
tags.*

# OSX Specific files
.DS_Store
*.sw?
*.lock
!Gemfile.lock

# Xcode temp files
*~.nib

# Xcode build files
DerivedData/
build/

# Xcode private settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Xcode 4 - semi-personal settings
xcuserdata
