log
*.log
log/*.log
db/*.sqlite3
# db/schema.rb
# db/schema.sql
.vim/.netrwhist
.vim/bundle
tags
tags.*
.muttrc
.mutt
.gitconfig
.projections.json

# OSX Specific files
.DS_Store
*.sw?
*.lock
!Gemfile.lock

.config/github-copilot/hosts.json
