snippet fn
function ${1:name}(${2:arguments}) {
  ${0}
}

endsnippet

snippet cl
console.log(${1:text});
endsnippet

snippet desc
describe('${1:test group subject}', () => {
	${0}
});
endsnippet

snippet it
it('${1:test case}', () => {
	${0}
});
endsnippet

snippet ita
it('${1:test case}', async () => {
	${0}
});
endsnippet
